<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/image/icon/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/static/image/icon/favicon.ico" type="image/x-icon" />
  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <style>
    #reset-pwd-form {
      width: 300px;
      margin: 1em;
    }
    #reset-pwd-form > button {
      width: 100%;
    }

    .form-ctrl {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5em;
    }
  </style>
  <title>Reset Password | MJU Polynounce</title>
</head>
<body>
  <form id="reset-pwd-form">
    <h1>비밀번호 변경</h1>
    <div class="form-ctrl">
      <label>비밀번호</label>
      <input type="password" id="prevUserPwd" />
    </div>
    <div class="form-ctrl">
      <label>새 비밀번호</label>
      <input type="password" id="userPwd" />
    </div>
    <button type="submit">확인</button>
  </form>
  <% if (token) { %>
    <script>
      var token = "<%- token %>";

      $("#reset-pwd-form").submit(function (e) {
        e.preventDefault();
        $.ajax({
          url: "/auth/reset-password/" + token,
          type: "PUT",
          data: {
            prevUserPwd: $("#prevUserPwd").val(),
            userPwd: $("#userPwd").val(),
          },
          success: function (data) {
            alert("비밀번호가 변경되었습니다.");
            window.location.href = "/";
          },
          error: function (xhr) {
            var err = xhr.responseJSON.error;
            if (Array.isArray(xhr.responseJSON)) {
              alert("비밀번호는 8~255자 사이여야 합니다.");
            } else if (err === "INVALID_PWD_TOKEN") {
              alert(
                "유효하지 않은 링크입니다. \n" +
                "링크를 다시 요청하세요."
              );
              window.close();
            } else if (err === "TOKEN_EXPIRED") {
              alert(
                "해당 링크가 만료되었습니다. \n" +
                "링크를 다시 요청하세요."
              );
              window.close();
            } else if (err === "ER_WRONG_PWD") {
              alert("기존 비밀번호가 일치하지 않습니다.");
            } else if (err === "REDUNDANT_OVERWRITE") {
              alert("새 비밀번호는 이전 비밀번호와 달라야 합니다.");
            } else {
              alert(
                "비밀번호 변경에 실패하였습니다. \n" +
                "관리자에게 문의해주시기 바랍니다."
              );
            }
          },
        });
      });
    </script>
  <% } else { %>
    <script>
      $("#reset-pwd-form").remove();
      alert("잘못된 접근입니다.");
    </script>
  <% } %>
</body>
</html>